.editor-tabs {
    display: flex;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div.win95-panel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .editor-bio {
            grid-column: 1 / 4;
        }

        .editor-cars {
            grid-column: 1 / 4;
        }
    }
}

.editor-cars {
    .car-adding {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}