.filter-categories {
    width: 281px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}