<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SharkWeb | Новости</title>
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>
    <body>
        <div class="main-layout">
            <header class="main-header">
                <img src="/static/resources/banner.png" draggable="false">
            </header>
            <nav class="main-navigation">
                <div class="links">
                    <a href="/home" class="link active">Новости</a>
                    <a href="/observer" class="link">Обозреватель</a>
                    <a href="/editor" class="link">Редактор</a>
                    <a href="#" class="link">Руководство</a>
                </div>
            </nav>
            <main class="main-separate-container">
                <aside class="main-aside">
                    <section>
                        <header>
                            Личный кабинет
                        </header>
                        <img src="https://i.imgur.com/JwAs6Md.png" draggable="false">
                        <div class="image-caption">
                            <img src="https://i.imgur.com/I6xiNKw.png" draggable="false">
                            <div>RayJenkins_04</div>
                            <a href="#" class="win95-link">Выйти</a>
                        </div>
                    </section>
                    <section>
                        <header>
                            Версия базы данных
                        </header>
                        <div class="centered-text">
                            1.0.0 Pre-alpha (stable)
                        </div>
                    </section>
                    <section>
                        <header>
                            Статистика
                        </header>
                        <table class="statictis-table">
                            <tr>
                                <td>Написанных досье</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>Организаций</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Автомобилей</td>
                                <td>16</td>
                            </tr>
                        </table>
                    </section>
                    <section>
                        <header>.onion форум</header>
                        <div class="centered-text">
                            <a href="#" class="link">https://discord.gg/Grcjg4gp</a>
                        </div>
                        <img src="https://i.imgur.com/a7Odotx.gif" class="gif-under-section">
                    </section>
                </aside>
                <div class="main-content">
                    <h1>Новостная лента</h1>
                    <section class="announcement type_under-construction">
                        <img src="/static/resources/underconstructiontriangle.png" class="icon">
                        <div class="content">
                            <h2 class="title">Важное объявление</h2>
                            <div class="text">
                                Хотя нашей миссией и является быть глазами и ушами Нью-Йорка, 
                                разработка новостной ленты на текущий момент не является нашим 
                                приоритетом и, соответственно, интерпритация полученной из базы 
                                данных информации возлагается на плечи пользователя. 
                                Какое-то время здесь будут публиковаться обновления и патчи системы.
                            </div>
                        </div>
                    </section>
                    <img src="/static/resources/underconstructionline.gif" height="11">
                    <div class="preview-cards-layout">
                        <article class="preview-card news">
                            <header>
                                <h2>PATCH 1.0.2</h2>
                                <time datetime="">11 Nov, 2024</time>
                            </header>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  
                                tempor  incididunt  ut  labore et dolore magna aliqua. Ut enim ad minim  
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  
                                commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate  
                                velit  esse  cillum dolore  eu  fugiat  nulla  pariatur. Excepteur sint  
                                occaecat  cupidatat  non  proident,  sunt in culpa qui officia deserunt  
                                mollit anim id est laborum.
                            </div>
                        </article>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
